@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b0b0c] text-gray-200;
}

.card {
  @apply bg-[#111113] border border-[#1f1f23] rounded-2xl;
}

.input {
  @apply bg-[#111113] border border-[#1f1f23] px-4 py-2 rounded-xl 
  focus:outline-none focus:border-gray-500;
}

.btn {
  @apply bg-white text-black px-4 py-2 rounded-xl font-medium hover:opacity-90;
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0f14;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #22c55e,
    #16a34a
  );
  border-radius: 999px;
  border: 2px solid #0b0f14;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #4ade80,
    #22c55e
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #0b0f14;
}